<template x-teleport="#contact-me-content">
    <div class="d-flex h-100">
        <div
                class="d-flex gap-3 p-3 flex-column text-md-center justify-content-md-center align-content-md-center w-100 h-100 flex-grow-0 bg-warning-subtle p-4 p-md-0">
            <i class="d-none d-md-inline  bi-envelope-at" style="font-size: 2rem;"></i>
            <span>
                                Can I do something for you 🙂?
                            </span>
            <a class="fs-5" href="mailto:souassitatang@yahoo.com">Contact me</a>
        </div>
    </div>
</template>