<template x-teleport="#projects-content">
    <div class="d-flex h-100">
        <div class="w-100 flex-shrink-1 overflow-y-auto h-100 p-4 p-md-4 mb-5">
            <h1 class="mb-4 d-md-none">Projects</h1>
            <div
                    class="w-100 overflow-hidden overflow-y-auto d-flex gap-5 flex-column flex-md-row flex-wrap align-content-md-center mb-5">
                <template x-for="(project, index) in pages[1].content">
                    <div class="card flex-md-fill flex-sm-grow-1 flex-md-grow-0 w-100" :id="project.id">
                        <img :src="project.image" class="card-img-top" alt="project.id" />
                        <div class="card-body">
                            <h5 class="card-title" x-text="project.title"></h5>
                            <p class="card-text" x-text="project.description"></p>
                            <template x-if="project.github.length > 0">
                                <div>
                                                    <span class="badge text-bg-success p-2 rounded-1 btn btn-sm"><i
                                                            class="bi bi-door-open me-2"></i> Public</span>
                                    <a :href="project.github" class="btn btn-sm btn-primary">See on GitHub</a>
                                </div>
                            </template>
                            <template x-if="project.github.length == 0">
                                                <span class="badge text-bg-danger p-2"><i
                                                        class="bi bi-shield-lock-fill me-2"></i> Private</span>
                            </template>
                        </div>
                    </div>
                </template>
            </div>
        </div>
        <div
                class="d-none order-first d-md-flex flex-column text-center justify-content-center align-content-center w-50 h-100 flex-grow-0 fs-1 fw-bolder font-monospace bg-success-subtle">
            <i class="bi bi-hammer"></i> Projects
        </div>
    </div>
</template>